tensorflow>=2.15,<2.16; python_version < "3.12"
tensorflow>=2.16,<2.17; python_version >= "3.12" and python_version < "3.13"
tf-keras>=2.16,<2.17; python_version >= "3.12" and python_version < "3.13"
tf_slim>=1.1.0
opencv-python
open3d
scikit-learn
tqdm
shapely